* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto, calibri;
}

body {
    padding-top: 12rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-gradient(radial, 45 45, 50, 50 10, 640, from(#444), to(#333)) !important;
    background: #333;
}

.images {
  position: relative;
  list-style: none;
  cursor: pointer;
}

li {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 6px 6px 24px 6px;
  background-color: white;
  text-align: center;
  width: 200px;
  height: 180px;
  -webkit-box-shadow: 1px 1px 6px #222;
  box-shadow: 1px 1px 6px #222;
  transition: all 1s ease-in-out;
  z-index: 0;
}

li img {
  width: 100%;
  height: 100%;
}

li:nth-child(1) {
  margin-top: -130px;
  margin-left: -130px;
  transform: rotate(30deg);
  filter: blur(5px);
}

li:nth-child(2) {
  margin-top: -120px;
  margin-left: -10px;
  transform: rotate(19deg);
  filter: blur(4px);
}

li:nth-child(3) {
  margin-top: -10px;
  margin-left: -180px;
  transform: rotate(-10deg);
  filter: blur(3px);
}

li:nth-child(4) {
  margin-top: -50px;
  margin-left: -80px;
  transform: rotate(12deg);
  filter: blur(2px);
}

li:nth-child(5) {
  margin-top: 20px;
  margin-left: 30px;
  transform: rotate(-20deg);
  filter: blur(1px);
}

li:hover {
  z-index: 10;
  width: 480px;
  height: 322px;
  margin-top: -151px;
  margin-left: -240px;
  padding-bottom: 30px;
  box-shadow: 8px 8px 24px #111;
  filter: blur(0px);
  transform: rotate(0deg);
}

footer {
  position: fixed;
  bottom: 0;
  color: rgba(245, 245, 245, 0.554);
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer img {
  margin-top: 10px;
  margin-left: 2px;
  cursor: pointer;
}

footer p {
  margin-bottom: 5px;
}
